<!DOCTYPE html>
<html>
  <head>
    <title>ZEROKEN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="ZEROKEN(ゼロケン) - 一軒目に飲むお酒の順番を診断します。あなたにあったお酒の順番を把握。アルハラを予防しましょう。 - " />
    <meta property="og:url" content="https://www.zeroken.site/" />
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/zeroken-42112.appspot.com/o/zeroken_ogp.png?alt=media&token=d9b88af8-c935-40b5-82a5-88117a6e16f7" />
    <meta property="og:description" content="一軒目に飲むお酒の順番を診断します。あなたにあったお酒の順番を把握。アルハラを予防しましょう。" />
    <meta name="keywords" content="ZEROKEN,ゼロケン,飲み会,酒豪、下戸、お酒の強さ" />
    <meta name="description" content="ZEROKENは、あなたにあった一次会で飲むお酒の量を提供します。" />
<%# <link rel="shortcut icon" type="image/png" href="../../frontend/src/img/zeroken-logo.ico"/> %>
<%= favicon_link_tag('https://firebasestorage.googleapis.com/v0/b/zeroken-42112.appspot.com/o/logo.png?alt=media&token=f6b0b783-9b48-40d1-9f2d-bd479389733f') %>
    <meta property="og:site_name" content="ZEROKEN(ゼロケン)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/zeroken-42112.appspot.com/o/zeroken_ogp.png?alt=media&token=d9b88af8-c935-40b5-82a5-88117a6e16f7" />
    <meta name="twitter:site" content="ZEROKEN(ゼロケン)" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L7PDJHSG0D"></script>
    <%# polyfill for es6 %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-L7PDJHSG0D');
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>